<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <script src="./layui/layui.js"></script>
    <script src="./js/jquery-1.8.3.min.js"></script>
</head>
<style>
    table{margin-top: 20px;}
    table input{margin-left:10px;width:230px;height:34px;border-radius: 4%;border: 1px solid black;}
    .td1{width: 160px;
        height: 50px;font-size: 16px;text-align: right;}
    .td2{width: 230px;text-align: left;height:50px;}
    #edit{height: 40px;width:100px;margin-top: 30px;position: relative;margin-left: 70px;}
    #cancel{height: 40px;width:100px;margin-top: 30px;position: relative;margin-left: 30px;}
</style>
<body>

<div >
    <table th:each="list:${list}">
        <tr >
            <td class="td1">用户头像:&emsp;</td><td class="td2"> <img src="./img/login_bg.png" width="50px;" height="50px;" style="margin-left: 10px;"></td>
        </tr>
        <tr style="display: none;">
            <td class="td1">用户id:&emsp;</td><td class="td2"><input id="u_id" readonly="readonly" name="u_id"  th:value="${list.u_id}"/></td>
        </tr>
        <tr>
            <td class="td1">用户名称:&emsp;</td><td class="td2"><input id="u_name" readonly="readonly"  name="u_name"  th:value="${list.u_name}"/></td>
        </tr>
        <tr>
            <td class="td1">用户密码:&emsp;</td><td class="td2"><input id="u_password" readonly="readonly" name="u_password" th:value="${list.u_password}" /></td>
        </tr>
        <tr>
            <td class="td1">用户性别:&emsp;</td><td class="td2"><input id="u_sex" readonly="readonly" name="u_sex" th:value="${list.u_sex}" /></td>
        </tr>
        <tr>
            <td class="td1">用户年龄:&emsp;</td><td class="td2"><input id="u_age" readonly="readonly" name="u_age" th:value="${list.u_age}" /></td>
        </tr>

        <tr>
            <td class="td1">用户地址:&emsp;</td><td class="td2"><input id="u_address" name="u_address" th:value="${list.u_address}"/></td>
        </tr>
        <tr>
            <td  colspan="2"><button id="edit" >编辑</button><button id="cancel">取消</button></td>
        </tr>

    </table>

</div>

</body>
<script>
    $("input").focus(function(){
        $(this).css("border","1px solid blue");
    })
    $("input").blur(function(){
        $(this).css("border","1px solid black");
    })
    $("#edit").click(function(){
        var u_id=$("#u_id").val();
        var u_name=$("#u_name").val();
        var u_password=$("#u_password").val();
        var u_sex=$("#u_sex").val();
        var u_age=$("#u_age").val();
        var u_address=$("#u_address").val();
        $.ajax({
           url:"/springboot/fuwu/updateuser",
            data:{"u_id":u_id,"u_name":u_name,"u_password":u_password,"u_sex":u_sex,"u_age":u_age,"u_address":u_address},
            type:"post",
            success:function(data){
                if(data==true){
                    parent.location.reload();
                }
        }
        } )

    })
</script>
</html>