<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../js/jquery-1.8.3.min.js"></script>
</head>
<body>
<div style="width: 100%;height:550px;background: white;">
<table id="test" lay-filter="test"></table>
</div>
</body>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#test'
            ,height: 300
            ,url: '/springboot/lizhi/select' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field:'l_id', width:120, title: '编号', sort: true}
                    ,{field:'l_name', width:120, title: '姓名'}
                    ,{field:'c_id', width:120, title: '用户编号'}
                    ,{field:'l_yuanyin', width:160, title: '离职原因'}
                    ,{field:'l_jieshu', width:160, title: '离职时间'}
                    ,{field:'l_liyou', width:160, title: '离职理由'}
                    ,{field:'l_zhuangtai', width:160, title: '状态'}
                    ,{field:'l_tijiao', width:160, title: '提交时间'}
                    ,{
                    width: 295,
                    title: "操作",
                    toolbar: "#barDemo"
                }
                ]
            ],
            done: function () {
                $("[data-field='c_id']").css('display','none');
            }
        });
        table.on('tool(test)',function(obj){
            var event=obj.event;
            var data=obj.data;
            var form = layui.form;
            var jieshu=data.l_jieshu;
            var tijiao=data.l_tijiao;
            if(event=='tongguo'){
                if(jieshu==tijiao) {
                    $.post('/springboot/lizhi/update', {
                        l_id: data.l_id,
                        c_id: data.c_id
                    }, function (res) {
                        if (res == true) {
                            window.location.href = "/springboot/lizhi/ss";
                        }
                    })
                }else {
                    $.post('/springboot/lizhi/update2', {
                        l_id: data.l_id
                    }, function (res) {
                        if (res == true) {
                            window.location.href = "/springboot/lizhi/ss";
                        }
                    })
                }
            } if(event=='bohui'){
                $.post('/springboot/lizhi/update1',{
                    l_id:data.l_id
                },function(res){
                    if(res==true){
                        window.location.href="/springboot/lizhi/ss";
                    }
                })
                ;
            }
        })
    });
</script>
<script type="ShenHe/html" id="barDemo">
    <a class="layui-btn layui-btn-sm " lay-event="tongguo">通过</a>
    <a class="layui-btn layui-btn-sm " lay-event="bohui">驳回</a>
</script>
</html>