<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ll</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script src="./layui/layui.js"></script>
    <script src="./js/jquery-1.8.3.min.js"></script>
    <script src="./js/xadmin.js"></script>
</head>
<style type="text/css">
    .layui-table-cell .layui-form-checkbox[lay-skin="primary"]{
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">

                    <div class="demoTable">
                        搜索姓名：
                        <div class="layui-inline">
                            <input class="layui-input" name="c_name" id="demoReload" autocomplete="off"  data-type="reload">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                    </div>
                    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="sheng">生成账单</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['table','form','layer'], function(){
        var table = layui.table
            ,form = layui.form,
            layer=layui.layer;
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            ,url: 'bjssyzd'
            ,cols: [ [
                {field:'y_name', title: '姓名', width:120,unresize: true}
                ,{field:'y_age', title: '年龄', width:90,unresize: true}
                ,{field:'y_sex', title: '性别', width:120,unresize: true}
                ,{field:'y_sydl', title: '所有订单', width:120,unresize: true}
                ,{field:'y_yfgz', title: '应得工资', width:135,unresize: true}
                ,{field:'y_sfgz', title: '实得工资', width:135,unresize: true}
                ,{field:'y_hps', title: '好评数', width:135,unresize: true}
                ,{field:'y_cps', title: '差评数', width:135,unresize: true}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ] ]
            ,id: 'testReload'
            ,page: {
                limit:5,
                limits:[5,10,15,20]
            }
            ,height: 300
        });
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        c_name: demoReload.val()
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        var flag = true;
        $('#demoReload').on('compositionstart',function(){
            flag = false;
        });
        $('#demoReload').on('compositionend',function(){
            flag = true;
        });
        $('#demoReload').on('input',function(){
            setTimeout(function(){
                if(flag){
                    var type = $('#demoReload').data('type');
                    active[type] ? active[type].call(this) : '';
                }
            },0);
        });
        table.on('tool(user)', function(obj){
            var data = obj.data;
            if(obj.event === 'sheng'){

                $.ajax({
                    url:"tjbjszd",
                    data:{"y_id":data.y_id,
                        "y_name":data.y_name,
                        "y_age":data.y_age,
                        "y_sex":data.y_sex,
                        "y_sydl":data.y_sydl,
                        "y_yfgz":data.y_yfgz,
                        "y_sfgz":data.y_sfgz,
                        "y_hps":data.y_hps,
                        "y_cps":data.y_cps,
                        "c_id":data.c_id},
                    type:"post",
                    success:function(data){
                        if(data=='dd'){
                            layer.msg('添加成功',{
                                icon:1,
                                time:2000
                            },function(){
                                layer.close(layer.index);
                                window.parent.location.reload();
                            });
                        }else{
                            layer.msg('添加失败',{
                                icon:2,
                                time:2000
                            },function(){

                            });
                        }
                    },
                    error:function(){

                    }
                })
            }
        });
    });

</script>
</html>
