<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.demo.mapper.DengluMapper">
    <select id="selectuser" parameterType="String" resultType="com.home.demo.entity.user">
        select * from t_user where u_name=#{u_name}
    </select>
    <select id="selectzq" resultType="com.home.demo.entity.quanxian">
        select * from t_user u,t_role r,t_role_menu rm,t_user_role ur,t_menu m where u.u_id=ur.userid and r.r_id=ur.roleid and r.r_id=rm.roleid and rm.menuid=m.id and u.u_name=#{u_name} and m.pid=0
    </select>
    <select id="selectcq" resultType="com.home.demo.entity.quanxian">
        select * from t_user u,t_role r,t_role_menu rm,t_user_role ur,t_menu m where u.u_id=ur.userid and r.r_id=ur.roleid and r.r_id=rm.roleid and rm.menuid=m.id and u.u_name=#{u_name} and m.pid!=0
    </select>
    <select id="selectbjss" resultType="int"
            parameterType="map">
        select count(*) from cleaner where 1=1
        <if test="c_name!=null and c_name!=''">
            and c_name like #{c_name}
        </if>
    </select>
    <select id="selectbjsxx" resultType="com.home.demo.entity.baojieshi"
            parameterType="map">
        select * from cleaner where 1=1
        <if test="c_name!=null and c_name!=''">
            and c_name like #{c_name}
        </if>
         limit #{begin},#{end}
    </select>
<!--    <update id="xgbjszt" parameterType="com.home.demo.entity.baojieshi">
        UPDATE cleaner set c_status=#{c_status} where c_id=#{c_id}
    </update>-->
    <select id="selectbdws" resultType="int">
        select count(*) from orders  where o_state='已付款' and o_paisong='未派送'
    </select>
    <select id="selectdbwxx" resultType="com.home.demo.entity.dingdan"
            parameterType="map">
        select * from orders  where o_state='已付款' and o_paisong='未派送' limit #{begin},#{end}
    </select>
    <select id="selectbdjs" resultType="int">
        select count(*) from orders  where o_state='已付款' and o_paisong='派送中'
    </select>
    <select id="selectdbjxx" resultType="com.home.demo.entity.dingdan"
            parameterType="map">
        select * from orders  where o_state='已付款' and o_paisong='派送中' limit #{begin},#{end}
    </select>
    <select id="selectfwrs" resultType="int"
            parameterType="map">
        select count(*) from cleaner where 1=1 and c_status='正常'
        <if test="c_address!=null and c_address!=''">
            and c_address like #{c_address}
        </if>
    </select>
    <select id="selectfwrxx" resultType="com.home.demo.entity.baojieshi"
            parameterType="map">
        select * from cleaner where 1=1 and c_status='正常'
        <if test="c_address!=null and c_address!=''">
            and c_address like #{c_address}
        </if>
        limit #{begin},#{end}
    </select>
    <update id="pqfwry" parameterType="com.home.demo.entity.dingdan">
        UPDATE orders set c_id=#{c_id} where o_id=#{o_id}
    </update>
</mapper>